{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="main">
   
    <div class="table">
        <h1>Welcome to Torquay Towers</h1>
        <p>Select your check-in and check-out dates:</p>
        <form action="{% url 'search_availability' %}" method="get">
            <input type="date" name="check_in_date" min="{{ today }}" required>
            <input type="date" name="check_out_date" min="{{ today }}" required>
            <button type="submit">Search Availability</button>
        </form>
        
    </div>
</div>
<div class="abought">
    <div class="left">
        <div class="one">
            <div class="logo-one">
                <div class="logo1">
                    <img src='{% static "images/LOGO-horizontal-768x208.png" %}'>
                </div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="text-one">
                <h2>Au Paradis des Campeurs</h2>
            </div>
        </div>
        <div class="two">
            <div class="name-two">
                <p>Direct access to the beach of La Gaillarde</p>
            </div>
            <div class="info-two">
                <i class="fa-regular fa-comments"></i><p>04 94 96 93 55 <br>
                info@campingpdc.fr</p>
            </div>
        
        </div>
        <div class="three">
            <div class="info-three">
                <i class="fa-solid fa-location-dot"></i>
                <p> RD559 La Gaillarde Plage <br>83380 Les Issambres – Roquebrune sur Argens </p>
            </div>
        </div>
        <div class="four">
            <div class="border-1">
                <div class="home-1">
                    <i class="fa-solid fa-house"></i>
                    <p>101 mobil-homes et lodges</p>
                </div>
                <div class="home-2">
                    <i class="fa-solid fa-campground"></i>
                    <p>91 emplacements</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="logos">
            <div class="logos-1">
                <i class="fa-solid fa-umbrella-beach"></i>
                <p>Direct access to the beach</p>
            </div>
            <div class="logos-1">
                <i class="fa-solid fa-calendar-check"></i>
                <p>Open all year round</p>
            </div>
            <div class="logos-1">
                <i class="fa-solid fa-tree"></i>
                <p>Direct access to the forest</p>
            </div>
            <div class="logos-1">
                <i class="fa-solid fa-bicycle"></i>
                <p>Bicycle lanes in the vicinity</p>
            </div>
        </div>
        <div class="under-logos">
            <h3>Welcome to the 4 star camping Au Paradis des Campeurs with direct access to the beach</h3>
            <p>We invite you for a vacation in a unique and natural place!

                Located in the heart of the French Riviera, Au Paradis des Campeurs has direct access to one of the most beautiful beaches of the French Riviera (Plage de la Gaillarde) and the forest. A guarantee of beauty, comfort and freshness. 11 kilometers from Sainte-Maxime and 30 minutes by boat from Saint-Tropez.
                </p>
        </div>
      
    </div>
</div>
<style>
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        background-image: url('{% static "images/2.jpg" %}');
        background-size: cover;
        background-position: center;
        padding-bottom: 80px;
    }

    .table input {
        margin: 5px;
        padding: 5px;
        font-size: 1rem;
        
    }
    .table button {
        background-color: white;
        height: 30px;

    }

    .table h1, p {
        color: white;
        font-family: "Marcellus","Times",sans-serif;
    }
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        height: 100vh;
        background-size: cover;
        background-position: center;
       
    }

    
     * {
    /* border: 1px solid red; */
    font-family: 'Titillium Web';
    margin: 0;
    
  }
  .abought {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 600px;
    color: #191970;
  }
  .left, .right {
    flex: 1;
  }
  .left {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 90px;
  }
  .one {
    position: relative;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.one::before {
    content: "";
    background-image: url('{% static "images/4.png" %}');
    background-repeat: no-repeat;
    background-size: 520px;
    background-position: right;
    opacity: 0.3; /* Установите прозрачность фонового изображения (от 0 до 1) */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Поместите фоновое изображение под контент */
}

.logo-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo1 img {
    width: 350px;
}
.stars i {
    font-size: 15px;
    color: red;
    margin-left: 5px;
    margin-top: 30px;
    
}
.text-one h2 {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 160px;
    font-family: "Marcellus","Times",sans-serif;
    font-size: 40px;

}
.two, .three, .four {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 200px;
}
.two p, .three p, .four p, .right p{
    color: #191970;

}
.info-two, .info-three {
    display: flex;
    flex-direction: row;
    
}
.info-two i {
    padding: 7px;
    
}

.info-three i{
    padding: 7px;
}

.border-1 {
    border: 1px solid gray;
    height: 80px;
    width: 400px;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 5px;
}
.border-1 i{
    font-size: 20px;
}

.home-1, .home-2 {
    padding: 12px;
}
.right {
    display: flex;
    position: relative;
    flex-direction: column;
}
.logos {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
}
.logos-1 {
    padding: 20px;
  text-align: center;
}

.logos-1 p {
    padding-left: 20%;
    padding-right: 20%;
}
.logos-1 i {
    font-size: 30px;
   
}

.right {
 margin-left: 60px;
 margin-right: 60px;
}
.under-logos p{
    padding-top: 30px;
}
</style>
{% endblock %}
