{% extends 'partials/base.html' %}
{% block content %}
<style>
    .table {
        margin-top: 100px
       
    }

</style>

<div>
    <table class="table table-success table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">User name</th>
            <th scope="col">Room №</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th>{{info.user}}</th>
            <td>{{info.room}}</td>
            <td>{{info.rating}}</td>
            <td><form method="post">{% csrf_token %}
              {{ form }}
              <input type="submit" class="btn btn-danger" value="Delete">
          </form> </td>

          </tr>
        <tr>
          <th>Comment</th>
          <td colspan="3">{{info.comment}}</td>
        </tr>  
        </tbody>
      </table>
      
</div>
{% endblock %}
